!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

  %body
    %h2 Your daily news for
      = @category.name

    %p
      %h3 News

      = @category.articles.all.each do |article|
        = article.title
        = article.anonce

    Чтобы отписаться от рассылки, нажмите
    = link_to 'Отписаться', welcome_index_url( controller: 'persons', action: 'unsubscribe', user_token: @user.user_token, host: 'http://localhost:3000' )
