.commentbox
  .commentername
    %strong= comment.commenter
    %span= comment.created_at.strftime("%a, %e %b %Y %H:%M:%S")

  .commentbody
    = comment.body

  .commentanswer
    - if admin_user_signed_in?
      = link_to article_comment_path(@article.id, comment), method: :delete, data: { confirm: 'Are you sure?' } do
        %span Удалить
   
    %a.answer
      %span.showanswer Ответить 
      %span.hideanswer.invisible Скрыть

    .answerform.invisible
      = render 'comments/form', parent_id: comment.id

