= form_for([@article, @article.comments.build]) do |f|
  %p
    = f.label 'Ваше имя'
  %p
    = f.text_field :commenter 
  %p
    = f.label 'Ваш комментарий'
  %p
    = f.text_area :body

  %p
    = f.submit :class => 'btn btn-primary', :label => 'Создать'
