= simple_form_for([@article, @article.comments.build], :class => 'form-horizontal', :role => 'form') do |f|
  = f.input :parent_id, as: :hidden, input_html: { value: parent_id.presence || nil }

  - if !user_signed_in?
    .form-group
      / = f.label 'Ваше имя', class: "col-sm-3"
      = f.input :commenter, :label => false, placeholder: 'Ваше имя', class: 'form-control'
  
  .form-group
    = f.input :body, label: false, placeholder: 'Ваш комментарий', class: 'form-control'

  .form-group
    = f.submit :class => 'btn btn-default', :label => 'Создать'
