= simple_form_for([@article, @article.comments.build]) do |f|
  = f.input :parent_id, as: :hidden, input_html: { value: parent_id.presence || nil }

  %p
    = f.label 'Ваше имя'

    = f.input :commenter, :label => false
  %p
    = f.label 'Ваш комментарий'

    = f.input :body, :label => false

  %p
    = f.submit :class => 'btn btn-primary', :label => 'Создать'
