= simple_form_for @article, :class => 'form-horizontal', :role => 'form' do |f|
  - if @article.errors.any?
    #error_explanation

    = pluralize(@article.errors.count, "error") 
    prohibited this article from being saved

    %ul
      - @article.errors.full_messages.each do |msg|
        %li= msg

  .control-group
    = f.label 'Название', class: 'col-sm-2 control-label'
    .controls.col-sm-10.col-sm-10= f.input :title, :label => false
  .control-group
    = f.label 'Анонс', class: 'col-sm-2 control-label'
    .controls.col-sm-10= f.input :anonce, :label => false
  .control-group
    = f.label 'Картинка', class: 'col-sm-2 control-label'
    .controls.col-sm-10= f.input :image, as: :file, :label => false
  .control-group
    = f.label 'Описание'  , class: 'col-sm-2 control-label'
    .controls.col-sm-10= f.input_field :text, :class => "redactor"
  .control-group
    = f.label 'Категории', class: 'col-sm-2 control-label'
    .controls.col-sm-10= f.association :categories,   as: :check_boxes, :label => false
    -# = f.category_ids = article[category_ids][]
  .control-group
    = f.submit 'Сохранить', class: 'btn btn-primary', name: 'create'
  
    = f.submit 'Предпросмотр', class: 'btn btn-default', name: 'preview'

