= simple_form_for @article do |f|
  - if @article.errors.any?
    #error_explanation

    = pluralize(@article.errors.count, "error") 
    prohibited this article from being saved

    %ul
      - @article.errors.full_messages.each do |msg|
        %li= msg

  %p
    / .cell_1= f.label :title 
    = f.input :title, :label => 'Название'
 
  %p
    / .cell_1= f.label :anonce
    = f.input :anonce, :label => 'Анонс'

  %p
    / .cell_1= f.label :text 
    = f.input :text, :class => "redactor", :rows => 40, :cols => 120, :label => 'Описание'

  %p.dropdown= f.association :categories
    



  %p
    = f.submit
