= simple_form_for @article do |f|
  - if @article.errors.any?
    #error_explanation

    = pluralize(@article.errors.count, "error") 
    prohibited this article from being saved

    %ul
      - @article.errors.full_messages.each do |msg|
        %li= msg

  %p
    = f.label 'Название'
    = f.input :title, :label => false
  %p
    = f.label 'Анонс'
    = f.input :anonce, :label => false
  %p
    = f.label 'Картинка'
    = f.input :image, as: :file, :label => false
  %p
    = f.label 'Описание'  
    = f.input_field :text, :class => "redactor", :rows => 40, :cols => 120
  %p
    .catlist
      = f.label 'Категории'
      = f.association :categories,   as: :check_boxes, :label => false
      -# = f.category_ids = article[category_ids][]
  %p        
    = f.submit :class => 'btn btn-primary', :label => 'Создать'
