.row-cont
  %h3
    Статьи в категории 
    = @category.name

  - if @articles.present?
    %table.table
      %tr
        %th Заголовок
        %th Анонс
        %th Содержание
      - @articles.each do |article| 
        %tr
          %td= article.title
          %td= article.anonce 
          %td= link_to 'Show', article_path(article)
  - else
    %p
      В данной категории статей нет

  .subscribe-index
    - if current_user.subscriptions.find_by_category_id(@category.id.to_s).blank?
      
      %h4
        Подписаться на новости
        = @category.name
      
      = button_to 'Подписаться', subscriptions_path(id: @category.id), class: 'podpisatca'
