.row-cont
  %h3
    Статьи в категории 
    = @category.name

  - if @articles.present?
    -@articles.order(created_at: :asc).each do |article|
      .cubebox
        .cubeimg
          = image_tag article.image
        %a.cubelink{ :href => article_path(article.id) }
          %h4= article.title
        .cubelink
          = article.anonce
  - else
    %p
      В данной категории статей нет

  .subscribe-index
    %h4
      Подписаться на новости
      = @category.name
    
    = button_to 'Подписаться', subscriptions_path(id: @category.id), class: 'podpisatca'
