%h1 Список материалов пользователей

= if user_signed_in?
  %span
    = link_to 'Создать статью', new_article_path


= if @articles.exists?
  %table
    %tr
      %th Заголовок
      %th Анонс
      %th Содержание
      %th Редактировать
      %th Удалить
    - @articles.each do |article|
      %tr
        %td= article.title
        %td= article.anonce 
        %td= link_to 'Show', article_path(article)
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article_path(article), :method => :delete, :data => { confirm: 'Are you sure?' }
- else
  %p There are no articles
