.row-cont
  
  %h2= @article.title
  
  .articlebody
    .image= image_tag @article.image
    .text= @article.text.html_safe

  = link_to 'Редактировать', edit_article_path(@article), class: 'btn btn-default'
  = link_to 'Готово', root_path, class: 'btn btn-primary'

