.row
  .container
    .row-cont
      
      %h2= @article.title
      
      .articlebody
        = image_tag @article.image
       
        %h4= @article.text.html_safe

      
      - if @article.categories.any?
        %ul.inline
          - @article.categories.each do |c|
            %li 
              = link_to articles_path(id: c.id) do
                %span 
                  = c.name
       
      %p
        - if admin_user_signed_in?
          .lf
            = link_to @article, method: :delete, data: { confirm: 'Sure?' } do
              %span Удалить
          .lf= link_to 'Редактировать', edit_article_path(@article)

      %p
        .fb-like{ 'data-share' => "true", 'data-width' => "450", 'data-show-faces' => "true" }
  

    .comments
      / .lightgrayline
      
      %h3 Комментарии

      - if @article.comments.present?
        = render @article.comments

        / = render 'comments/comment'

      - else
        No comments
       
      .lightgrayline
      
      %p Написать комментарий:
      = render "comments/form", parent_id: nil
