.row-cont
  
  %h2= @article.title
  .article-author
    = @article.created_at.strftime("%a, %e %b %Y %H:%M")
    - if @article.user.present?
      by 
      = @article.user.name
  
  .articlebody
    .image= image_tag @article.image
    .text= @article.text.html_safe
  
  - if @article.categories.any?
    %ul.inline
      - @article.categories.each do |c|
        %li 
          = link_to articles_path(id: c.id) do
            %span 
              = c.name
   
  - if admin_user_signed_in?
    .editlink
      = link_to @article, method: :delete, data: { confirm: 'Sure?' } do
        %span Удалить
    .editlink= link_to 'Редактировать', edit_article_path(@article)

  .fb-like{ 'data-share' => "true", 'data-width' => "450", 'data-show-faces' => "true" }

.comments
  %h3 Комментарии      
  .lightgrayline

  - if @article.comments.present?
    = nested_comments @article.comments.arrange

  - else
    Пока никто ничего не написал. Вы можете быть первым!
   
  .lightgrayline
  .answerblock
    = render "comments/form", parent_id: nil
