.row.container
  .row-cont
    %p
      %strong 
      %h2= @article.title
     
    %p
      %strong
      %h4= @article.text

    %p
      - if @article.categories.any?
        %ul
          - @article.categories.each do |c|
            %li= c.name
     
    / %p Comments
    / = render @article.comments
     
    / %p Add a comment:
    / = render "comments/form"
     
    = link_to 'Редактировать', edit_article_path(@article)
    = link_to 'Все материалы', articles_path
