= render 'head'

.wc-cont
  -if @articles.present?
    -@articles.order(created_at: :asc).each do |article|
      .cubebox
        .cubeimg
          = image_tag article.image
        %a.cubelink{ :href => article_path(article.id) }
          %h4= article.title
        .cubelink
          = article.anonce

  .wpagination= will_paginate @articles
