.news
  .container
    - if @articles.present?
      - @articles.each do |r|
        - if r.is_published == true
          %a.postbox{ :href => article_path(r.id) }
            .posttime= r.created_at.strftime("%H:%M")
            .postlink
              .posttitle= r.title
              / .postanonce= r.anonce[0..20]


          

.container
  .wroom
    / #slides.container.slidejs
    /  = image_tag 'slide-1.jpg'
    /  = image_tag 'slide-2.jpg'
    /  = image_tag 'slide-3.jpg'
    /  = image_tag 'slide-4.jpg'

    /  %a.slidesjs-next.slidesjs-navigation{:href => "#"}
    /    %i.icon-chevron-left.icon-large
    /  %a.slidesjs-next.slidesjs-navigation{:href => "#"}
    /    %i.icon-chevron-right.icon-large 

    %h3.centerlink= link_to 'Создать статью', new_article_path
      
    / .rightlink= link_to 'Все Материалы »', controller: 'articles'

    -if @articles.present?
      -@articles.order(created_at: :asc).each do |cube|
        .cubebox
          %a.cubelink{ :href => article_path(cube.id) }
            %h4= cube.title
          .cubelink
            = cube.anonce

