<h1>краудсорсинговый новостной портал</h1>

<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.name %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %><br>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

<br>
<%= link_to 'Статьи', controller: 'articles' %><br>