%section.container
  .profile
    %h2 
      Профиль 

    = simple_form_for(@user, url: persons_update_path, html: { method: :put, class: "ordinary" }) do |f|
      .form-inputs
        = f.label 'Ваш емейл'
        = f.input :email, placeholder: "user@domain.com", required: true, label: false
        = f.label 'Ваше имя'
        = f.input :name, placeholder: "John Black", label: false
      .checkbox
        = f.input :mail_notifyers, label: 'Получать уведомления по почте', as: :boolean
        / = f.input :mail_notifyers, type: "checkbox", checked_value: true, unchecked_value: false, label: false
      / .input-container
      = link_to "Изменить пароль", persons_password_path
      .form-actions
        = f.button :submit, "Сохранить", class: "btn btn-submit"

    .subscribtion_profile
      %h2
        Управление подписками

      - if @user.categories.present?
        %p
          Вы подписаны на следующие категории:
        %p
          %ul
            - @user.categories.each do |category|
              %li
                %strong= category.name
        %p
          = button_to 'Отписаться от всех', persons_path, action: 'unsubscribe', class: 'btn btn-submit'
