%section.container
  .profile
    %h2 
      Профиль 

    = simple_form_for(@user, url: persons_update_path, html: { method: :put, class: "ordinary" }) do |f|
      .form-inputs
        = f.input :email, placeholder: "user@domain.com", required: true
        = f.input :name, placeholder: "John Black"
      .input-container
        = link_to "Change your password", persons_password_path
      .form-actions
        = f.button :submit, "Сохранить", class: "btn btn-submit"

    .subscribtion_profile
      %h2
        Управление подписками

      - if @user.categories.present?
        Вы подписаны на следующие категории:
        %ul
          - @user.categories.each do |category|
            %li
              %strong= category.name
              %span= link_to 'Отписаться', { action: 'unsubscribe' }
      / %p
      /   %h4
      /     Отписаться от новостных рассылок
      /     = button_to 'Отписаться', { action: 'unsubscribe' }, class: 'btn'
      %p
        %h4
          Получать уведомления по почте
          = button_to 'Подписаться', { action: 'subscribe_notifications' }, class: 'btn btn-primary'
