.wc-cont
  .profile
    %h2 
      Профиль 

    .login-form
      = form_for(@user, url: persons_update_path, html: { method: :put }, class: 'form-horizontal') do |f|
        .form-group
          = f.label 'Ваш емейл'
          = f.email_field :email, placeholder: "user@domain.com", required: true, label: false, class: 'form-control'
        .form-group
          = f.label 'Ваше имя'
          = f.text_field :name, placeholder: "John Black", label: false, class: 'form-control'
        .form-group
          .col-sm-12
            .checkbox
              = f.check_box :notifications, label: false, as: :boolean
              = f.label 'Получать уведомления по почте'
        .form-actions
          = f.submit "Сохранить", class: "btn btn-submit"

        .extramargin= link_to "Изменить пароль", persons_password_path

    .warningg
      -if @user.email.include? 'm98v5dfg'
        %p
          Ваши емейл и пароль были сгенерированы автоматически. Если вы хотите иметь возможность авторизоваться обычным способом, поменяйте емейл и пароль на свои. Для авторизации через Твиттер оставьте настройки по умолчанию.

    .subscribtion_profile
      %h2
        Управление подписками

      - if @user.subscriptions.present?
        %p
          Вы подписаны на следующие категории:
        %p
          - @user.subscriptions.each do |sub|
            %ul
              %li= Category.find(sub.category_id).name
              %li
                = button_to subscription_path(sub.category_id), method: :delete, type: "button", class: "unsubbtn close" do
                  %span{'aria-hidden' => "true"}
                    &times;
                  %span{class: 'sr-only'}
                    Удалить
      - else
        Вы не подписаны ни на одну категорию
