.header.row
  .nicehead
    .logo
      %a{ :href => root_path } Kate's news site

    .auth
      - if user_signed_in?
        = link_to current_user.name, persons_path
        = link_to 'Add article', new_article_path
        %p
          - if admin_user_signed_in?
            = link_to 'Admin panel', admin_root_path
            
          = link_to 'Exit', destroy_user_session_path, :method => :delete
      - else
        = link_to 'Sign in', new_user_session_path 
        |
        = link_to 'Sign up', new_user_registration_path

    .categories
      - if @categories.present?
        %ul
          - @categories.each do |cat|
            %li
              .filtered
                / %a{ :href => articles_path(cat) } 
                = link_to articles_path(id: cat.id) do
                  %span
                    = cat.name
